
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><%= t('help.title') %></h1>
    </div>
    </div>
  </section>
      


    <section class="py-5 text">
    <div class="row py-lg">
      <div class="col-lg-11 col-md-11 mx-auto">
        <p class="lead text-muted"><%= t('help.rule_one') %></p>
        <p class="lead text-muted"><%= t('help.rule_two') %></p>
        <p class="lead text-muted"><%= t('help.rule_three') %></p>
        <p class="lead text-muted"><%= t('help.rule_four') %></p>
            </div>
    </div>
  </section>
</main>