  <h1>Search</h1>

<%= form_with url: cars_path, method: :get, data: {turbo: false}, class: 'search-form' do |form|%>
  <%= form.label :make, style: "display: block"%>
  <%= form.text_field :make, value: params[:make] %>
  <%= form.label :model, style: "display: block" %>
  <%= form.text_field :model, value: params[:model] %>
  <%= form.label :year_from, style: "display: block" %>
  <%= form.number_field :year_from, value: params[:year_from] %>
  <%= form.label :year_to, style: "display: block" %>
  <%= form.number_field :year_to, value: params[:year_to]%>
  <%= form.label :price_from, style: "display: block" %>
  <%= form.number_field :price_from, value: params[:price_from] %>
  <%= form.label :price_to, style: "display: block" %>
  <%= form.number_field :price_to, value: params[:price_to] %>
  <%=form.submit 'Search' %>
<% end %>
