<div id="<%= dom_id user_search %>">
  <p>
    <strong>Make:</strong>
    <%= user_search.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= user_search.model %>
  </p>

  <p>
    <strong>Year from:</strong>
    <%= user_search.year_from %>
  </p>

  <p>
    <strong>Year to:</strong>
    <%= user_search.year_to %>
  </p>

  <p>
    <strong>Price from:</strong>
    <%= user_search.price_from %>
  </p>

  <p>
    <strong>Price to:</strong>
    <%= user_search.price_to %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_search.user_id %>
  </p>

  <p>
    <strong>Date search:</strong>
    <%= user_search.date_search %>
  </p>

</div>
