 <%- if car.id.modulo(5) == 1 %>
 <div>
   <%= paginate @cars %>
 <div>
 <% end %>

<table class="table table-bordered table-hover table-fixed">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">make</th>
      <th scope="col">model</th>
      <th scope="col">year</th>
      <th scope="col">odometer</th>
      <th scope="col">description</th>
      <th scope="col">date_added</th>
    </tr>
  </thead>
  <tbody>
    <tr>
           <td>
             <%= car.id %>
           </td>
           <td>
             <%= car.make %>
           </td>
           <td>
             <%= car.model %>
           </td>
           <td>
             <%= car.year %>
           </td>
           <td>
             <%= car.odometer %>
           </td>
           <td>
             <%= car.description %>
           </td>
           <td>
             <%= car.date_added %>
           </td>
    </tr>
  </tbody>
</table>

