<div id="cars">
  <table class="table table-bordered table-hover table-fixed">
    <thead>
      <tr>
        <th scope="col"><%= t('cars_list.table.id') %></th>
        <th scope="col"><%= t('cars_list.table.make') %></th>
        <th scope="col"><%= t('cars_list.table.model') %></th>
        <th scope="col"><%= t('cars_list.table.year') %></th>
        <th scope="col"><%= t('cars_list.table.odometer') %></th>
        <th scope="col"><%= t('cars_list.table.price') %></th>
        <th scope="col"><%= t('cars_list.table.description') %></th>
        <th scope="col"><%= t('cars_list.table.date_added') %></th>
      </tr>
    </thead>
    <tbody>
      <% @cars.each do |car| %>
      <tr>
        <td>
          <%= car.id %>
        </td>
        <td>
          <%= car.make %>
        </td>
        <td>
          <%= car.model %>
        </td>
        <td>
          <%= car.year %>
        </td>
        <td>
          <%= car.odometer %>
        </td>
        <td>
          <%= car.price %>
        </td>
        <td>
          <%= car.description %>
        </td>
        <td>
          <%= car.date_added %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
