<p style="color: green"><%= notice %></p>

<h1><%= t('cars_list.title') %></h1>
<%= t('cars_list.count') %> <%=  @cars_total.count %>

<div>
  <%= form_with url: cars_path, method: :get, data: {turbo: false} do |f|%>
    <%= f.select :sort_by, ['date_added_asc','date_added_desc', 'price_asc', 'price_desc'], selected: params[:sort_by]%>
    <%= f.submit t('cars_list.sort')%>
  <% end %>
</div>
<div id="cars">
  <table class="table table-bordered table-hover table-fixed">
    <thead>
      <tr>
        <th scope="col"><%= t('cars_list.table.id') %></th>
        <th scope="col"><%= t('cars_list.table.make') %></th>
        <th scope="col"><%= t('cars_list.table.model') %></th>
        <th scope="col"><%= t('cars_list.table.year') %></th>
        <th scope="col"><%= t('cars_list.table.odometer') %></th>
        <th scope="col"><%= t('cars_list.table.price') %></th>
        <th scope="col"><%= t('cars_list.table.description') %></th>
        <th scope="col"><%= t('cars_list.table.date_added') %></th>
      </tr>
    </thead>
    <tbody>
      <% @cars.each do |car| %>
      <tr>
        <td>
          <%= car.id %>
        </td>
        <td>
          <%= car.make %>
        </td>
        <td>
          <%= car.model %>
        </td>
        <td>
          <%= car.year %>
        </td>
        <td>
          <%= car.odometer %>
        </td>
        <td>
          <%= car.price %>
        </td>
        <td>
          <%= car.description %>
        </td>
        <td>
          <%= car.date_added %>
        </td>
        <td>
          <%= link_to t('cars_list.show_car'), car %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to new_car_path do %>
  <%= form_with  do |f|%>
    <%=f.submit t('cars_list.new_car')%>
  <% end %>
<% end %>

<div class ='row'>
  <div class ='col-7 offset-5'>
    <%= paginate @cars %>
  <div>
<div>
