<p style="color: green"><%= notice %></p>

<h1>Cars_list</h1>
Total count of found cars: <%=  @cars_total.count %>



<div>
  <%= form_with url: cars_path, method: :get, data: {turbo: false} do |f|%>
    <%= f.select :sort_by, ['date_added_asc','date_added_desc', 'price_asc', 'price_desc'], selected: params[:sort_by]%>
    <%= f.submit 'Sort'%>
  <% end %>
</div>

<%= render 'cars/car' %>  
<div class ='row'>
  <div class ='col-7 offset-5'>
    <%= paginate @cars %>
  <div>
<div> 
